.gallery {
  --margin-top: 50px;

  margin-top: 36px;
  color: var(--clr-dark);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(282px, 100%), 1fr));
  gap: 21px 17px;
  place-items: center;
}

.gallery__card {
  border-radius: 10px;
  overflow: hidden;
  max-height: 361px;
  display: flex;
  flex-direction: column;
}

.gallery__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.gallery__inner {
  background-color: var(--bg-light);
  height: 100%;
  padding-inline: 21px;
  padding-block: 25px 31px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.gallery__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-size: var(--fs-m);
  line-height: var(--lh-m);
  font-weight: var(--fw-bold);
}

@media (max-width: 430px) {
  .gallery {
    --margin-top: 36px;
  }
}
